<div class="outter-div">
    <div class="form-div">
        <div>
            <h2>ACTIVATE USER'S ACCOUNT</h2>
        </div>
        <div class="form-inner-div">
            <form (ngSubmit)="activate()">


                <div class="input-div"><label>ACTIVATE USER: </label></div>





                <div class="input-div">
                    <button class="btn-reg" type="submit">activate</button>

                </div>
                <div class="input-div">
                    <span class="sp-alert">{{ message }}</span>
                </div>


            </form>
        </div>
    </div>
</div>