.form-div {
    background-color: #dfd9d9;
    margin: auto;
    width: 500px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    border: 5px solid #a7a4a4;
    border-radius: 10px;
}

.form-inner-div {
    width: auto;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.input-div input {
    padding: 10px;
    margin: 10px;
    width: 300px;
    
    height: 20px;
}


.input-div select {
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 40px;
}

.input-div:focus {
    outline: none !important;
    border-color: #2a4d70;
    box-shadow: 0 0 10px #8ac1f5;
}

.input-div textarea {
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.btn-reg {
    background-color: #2f7004;
    width: 40%;
    color: white;
    outline: none !important;
    border-color: #265c04;
    height: 40px;
    border-radius: 5px;
    margin: 20px;
}

.btn-cancel {
    background-color: #ee4343;
    width: 40%;
    color: white;
    outline: none !important;
    border-color: #f74545;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
}

.input-al a {
    padding: 10px;
    margin: 10px;
    width: 300px;
}
