<div class="outter-div">
    <div class="form-div">
        <div class="inner-div">
            <div>
                <h2> User Details </h2>
            </div>

            <div class="product-list">
                <div class="lab">
                    <div class="inner-lab">
                        Product Name: {{name}}
                    </div>

                    <div class="inner-lab">
                        Detail : {{ detail }}
                    </div>
                    <div class="inner-lab">
                        Price : {{ price }}
                    </div>
                    <div class="inner-lab">
                        Plan Selected : {{ plan }} Months
                    </div>

                </div>
                <td><button class="btn-reg" (click)="confirmOrder()">Confirm Order</button></td>
                <!--  <td><button class="btn-reg" (click)="activateUser()">Activate</button></td>-->

                <!--   <td><button class="btn-reg " (click)="deleteUser(userDetailDto) ">Delete</button></td>-->
                <td><button class="btn-reg" (click)="cancel()">Cancel</button></td>
            </div>




        </div>
    </div>
</div>