<div class="outter-div">
    <div class="form-div">
        <div>
            <h2 style="text-align: center;"> FORGET PASSWORD</h2>
        </div>
        <div class="form-inner-div">


            <form>

                <div class="input-div">
                    <input type="number" placeholder="Enter Phone Number">
                </div>
                <div class="input-div"><span class="sp-alert"></span></div>
                <div class="input-div">
                    <button class="btn-login" type="submit">GET OTP</button> <br />
                </div>

                <div class="input-div">
                    <input type="number" placeholder="Enter O.T.P. " name="otp" />
                </div>
                <div class="input-div"><span class="sp-alert"></span></div>
                <div class="input-div">
                    <button class="btn-login" type="submit">Verify OTP</button>

                </div>
                <!-- <a href="changePassword.html">ch</a>-->

            </form>

        </div>
    </div>
</div>